In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn import svm

import warnings
warnings.filterwarnings('ignore')

In [66]:
data=pd.read_csv('HR_comma_sep.csv')
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [67]:
data["salary"][data["salary"]=="low"]=0
data["salary"][data["salary"]=="medium"]=1
data["salary"][data["salary"]=="high"]=2

data["sales"][data["sales"]=="sales"]=0
data["sales"][data["sales"]=="accounting"]=1
data["sales"][data["sales"]=="hr"]=2
data["sales"][data["sales"]=="technical"]=3
data["sales"][data["sales"]=="support"]=4
data["sales"][data["sales"]=="IT"]=5
data["sales"][data["sales"]=="product_mng"]=6
data["sales"][data["sales"]=="marketing"]=7
data["sales"][data["sales"]=="management"]=8
data["sales"][data["sales"]=="RandD"]=9

y=data["left"]
X=data[["satisfaction_level","last_evaluation","number_project","average_montly_hours","time_spend_company","Work_accident","promotion_last_5years","sales","salary"]]

In [68]:
#PCA on original data
pca = PCA(n_components='mle', svd_solver='full')
pca.fit(X)
print(pca.explained_variance_ratio_)

[  9.98452511e-01   8.69577590e-04   4.73904399e-04   1.62142293e-04
   2.43970645e-05   9.28244532e-06]

In [69]:
#Z-scaling the data
z_scaler = StandardScaler()
z_data = pd.DataFrame(z_scaler.fit_transform(X))
z_data.head()

          0         1         2         3         4         5         6
0 -0.936495 -1.087275 -1.462863 -0.882040 -0.341235 -0.147412 -0.933368
1  0.752814  0.840707  0.971113  1.220423  1.713436 -0.147412  0.636092
2 -2.022479  0.957554  2.593763  1.420657  0.343655 -0.147412  0.636092
3  0.431041  0.899131  0.971113  0.439508  1.028546 -0.147412 -0.933368
4 -0.976716 -1.145699 -1.462863 -0.841993 -0.341235 -0.147412 -0.933368

In [70]:
#PCA on Z-scaled data

pca = PCA(n_components='mle', svd_solver='full')
pca.fit(z_data)
print(pca.explained_variance_ratio_)

[ 0.26139392  0.16226473  0.15838674  0.12873967  0.12048333  0.09036683]

In [63]:
#Splitting into training and test sets

XNew=z_data
X_train, X_test, y_train, y_test = train_test_split(XNew, y, test_size=0.33, random_state=42)
X_train.head()

              0         1         2         3         4         5         6
10804  0.189711 -0.386191 -0.651538 -0.101125 -0.341235 -0.147412 -0.933368
13984  1.275696 -1.262546  0.971113  1.420657 -0.341235 -0.147412 -0.933368
7971   0.752814  0.314894  0.971113  1.100282 -1.026126 -0.147412 -0.933368
6177   0.431041 -0.795157  0.159788  1.080259 -1.026126 -0.147412  2.205553
10085 -1.861592  0.490165  0.971113 -1.602884  1.028546 -0.147412  0.636092

In [71]:
#Applying SVM on the training set

clf = svm.SVC()
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [72]:
#Predicting the outputs from the training set and calculating the accuracy

predictions=clf.predict(X_test)
count=0
predictions=np.array(predictions)
y_test=np.array(y_test)
count=sum(y_test==predictions)
accuracy=count/4950*100
print(accuracy)

96.1212121212